body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #CFDABF, #BAC5A9, #D4D4D0);
    font-family: Courier, monospace;
}

header {
    padding: 10px;
}

main {
    display: flex;
    align-items: flex-start;
    position: relative;
}

img {
    margin-left: 10%;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;  
}

.button {
    font-family: Courier, monospace;
    margin-bottom: 5px; 
    border-radius: 10px;
    font-size: 30px;
    padding: 5px; 
    margin: 10px;
    width: 325px;
    background-image: linear-gradient(180deg, #BCB38F,#C8D8B7,#FEFCEF);
}

.button:hover {
    margin-bottom: 5px; 
    border-radius: 10px;
    font-size: 30px;
    padding: 5px; 
    margin: 10px;
    width: 315px;
    background-image: linear-gradient(180deg, #BD9F82,#B4DAA6,#FEFCEF);
}
